div#container{
	border: 1px solid black;
	width:780px;
	height:390px;
}
div#left,div#right{
	width: 390px;
	height: 390px;
	float: left;
}
div.sm-sq-imgCard{
	float: left;
	width: 195px;
	height: 195px;
}
div.rect-imgCard{
	float: left;
	width: 390px;
	height: 195px;
}
div.sm-sq-imgCover,div.lg-sq-imgCover,div.rect-imgCover{
	z-index: 1;
	width: 195px;
	height: 195px;
	position: absolute;
	background-image: #051725; 
  background-image: -webkit-linear-gradient(180deg, rgba(5,23,37,0), rgba(0,0,0,.8))); 
  background-image: -o-linear-gradient(180deg, rgba(5,23,37,0), rgba(0,0,0,.8)); 
  background-image: -moz-linear-gradient(180deg, rgba(5,23,37,0), rgba(0,0,0,.8)); 
  background-image: linear-gradient(180deg, rgba(5,23,37,0), rgba(0,0,0,.8)); 
}
div.lg-sq-imgCover{
	width: 390px;
	height: 390px;
}
div.rect-imgCover{
	width: 390px;
	height: 195px;
}
div.sm-sq-imgCard img{
	display: inline-block;
}
div.1sq img{
	display: block;
}

