<div class="2x1grid">
	<div class="sm-sq-imgCard">
		<div class="sm-sq-imgCover">
			<p class="artist">{{artist}}</p>
			<p class="plays">{{plays}}</p>
		</div>
		<img ng-src="{{artist.img}}" />
	</div>
	<div class="sm-sq-imgCard">
		<div class="sm-sq-imgCover">
			<p class="artist">{{artist}}</p>
			<p class="plays">{{plays}}</p>
		</div>
		<img ng-src="{{artist.img}}" />
	</div>
	<div class="rect-imgCard">
		<div class="rect-imgCover">
			<p class="artist">{{artist}}</p>
			<p class="plays">{{plays}}</p>
		</div>
		<img ng-src="{{artist.img}}" />
	</div>
</div>