<div class="2x2sq">				
	<div class="sm-sq-imgCard">
		<div class="sm-sq-imgCover">
			<p class="artist">{{artist}}</p>
			<p class="plays">{{plays}}</p>
		</div>	
		<img ng-src="{{artist.img}}" />
	</div>
	
	<div class="sm-sq-imgCard">
		<div class="sm-sq-imgCover">
			<p class="artist">{{artist}}</p>
			<p class="plays">{{plays}}</p>
		</div>	
		<img ng-src="{{artist.img}}" />
	</div>
	
	<div class="sm-sq-imgCard">
		<div class="sm-sq-imgCover">
			<p class="artist">{{artist}}</p>
			<p class="plays">{{plays}}</p>
		</div>	
		<img ng-src="{{artist.img}}" />
	</div>
	
	<div class="sm-sq-imgCard">
		<div class="sm-sq-imgCover">
			<p class="artist">{{artist}}</p>
			<p class="plays">{{plays}}</p>
		</div>
		<img ng-src="{{artist.img}}" />
	</div>
</div>