<div class="1x1grid">

  <div class="rect-imgCard">
    <div class="img-wrapper">
      <div class="rect-imgCover">
        <p class="artist">{{artistsLeft[0].artist}}</p>
        <p class="plays">{{artistsLeft[0].playcount}} Plays</p>
      </div>
      <img ng-src="{{artistsLeft[0].image}}" />
    </div>
  </div>

  <div class="rect-imgCard">
    <div class="img-wrapper">
      <div class="rect-imgCover">
        <p class="artist">{{artistsLeft[1].artist}}</p>
        <p class="plays">{{artistsLeft[1].playcount}} Plays</p>
      </div>
      <img ng-src="{{artistsLeft[1].image}}" />
    </div>
  </div>

</div>