<div class="1x2grid">

  <div class="rect-imgCard">
    <div class="img-wrapper">
      <div class="rect-imgCover">
        <div class="rect-text">
          <a ng-href="{{artistsLeft[0].url}}">
            <p class="artist">{{artistsLeft[0].artist}}</p>
            <p class="plays">{{artistsLeft[0].playcount}} Plays</p>
          </a>
        </div>
      </div>
      <img elem-ready ng-src="{{artistsLeft[0].image}}" />
    </div>
  </div>

  <div class="sm-sq-imgCard">
    <div class="img-wrapper">
      <div class="sm-sq-imgCover">
        <div class="sm-sq-text">
          <a ng-href="{{artistsLeft[1].url}}">
            <p class="artist">{{artistsLeft[1].artist}}</p>
            <p class="plays">{{artistsLeft[1].playcount}} Plays</p>
          </a>
        </div>
      </div>
      <img elem-ready ng-src="{{artistsLeft[1].image}}" />
    </div>
  </div>

  <div class="sm-sq-imgCard">
    <div class="img-wrapper">
      <div class="sm-sq-imgCover">
        <div class="sm-sq-text">
          <a ng-href="{{artistsLeft[2].url}}">
            <p class="artist">{{artistsLeft[2].artist}}</p>
            <p class="plays">{{artistsLeft[2].playcount}} Plays</p>
          </a>
        </div>
      </div>
      <img elem-ready ng-src="{{artistsLeft[2].image}}" />
    </div>
  </div>

</div>