<div class="2x1grid">

  <div class="sm-sq-imgCard">
    <div class="img-wrapper">
      <div class="sm-sq-imgCover">
        <div class="sm-sq-text">
          <p class="artist">{{artistsRight[0].artist}}</p>
          <p class="plays">{{artistsRight[0].playcount}} Plays</p>
        </div>
      </div>
      <img ng-src="{{artistsRight[0].image}}" />
    </div>
  </div>

  <div class="sm-sq-imgCard">
    <div class="img-wrapper">
      <div class="sm-sq-imgCover">
        <div class="sm-sq-text">
          <p class="artist">{{artistsRight[1].artist}}</p>
          <p class="plays">{{artistsRight[1].playcount}} Plays</p>
        </div>
      </div>
      <img ng-src="{{artistsRight[1].image}}" />
    </div>
  </div>

  <div class="rect-imgCard">
    <div class="img-wrapper">
      <div class="rect-imgCover">
        <div class="rect-text">
          <p class="artist">{{artistsRight[2].artist}}</p>
          <p class="plays">{{artistsRight[2].playcount}} Plays</p>
        </div>
      </div>
      <img ng-src="{{artistsRight[2].image}}" />
    </div>
  </div>

</div>