<div class="2x2grid">    
  <div class="sm-sq-imgCard">
    <div class="img-wrapper">
      <div class="sm-sq-imgCover">
        <div class="sm-sq-text">
          <a ng-href="{{artistsRight[0].url}}">
            <p class="artist">{{artistsRight[0].artist}}</p>
            <p class="plays">{{artistsRight[0].playcount}} Plays</p>
          </a>
        </div> 
      </div>  
      <img elem-ready ng-src="{{artistsRight[0].image}}" />
    </div>
  </div>
  
  <div class="sm-sq-imgCard">
    <div class="img-wrapper">
      <div class="sm-sq-imgCover">
        <div class="sm-sq-text">
          <a ng-href="{{artistsRight[1].url}}">
            <p class="artist">{{artistsRight[1].artist}}</p>
            <p class="plays">{{artistsRight[1].playcount}} Plays</p>
          </a>
        </div> 
      </div>  
      <img elem-ready ng-src="{{artistsRight[1].image}}" />
    </div>
  </div>
  
  <div class="sm-sq-imgCard">
    <div class="img-wrapper">
      <div class="sm-sq-imgCover">
        <div class="sm-sq-text">
          <a ng-href="{{artistsRight[2].url}}">
            <p class="artist">{{artistsRight[2].artist}}</p>
            <p class="plays">{{artistsRight[2].playcount}} Plays</p>
          </a>
        </div> 
      </div>  
      <img elem-ready ng-src="{{artistsRight[2].image}}" />
    </div>
  </div>
  
  <div class="sm-sq-imgCard">
    <div class="img-wrapper">
      <div class="sm-sq-imgCover">
        <div class="sm-sq-text">
          <a ng-href="{{artistsRight[3].url}}">
            <p class="artist">{{artistsRight[3].artist}}</p>
            <p class="plays">{{artistsRight[3].playcount}} Plays</p>
          </a>
        </div> 
      </div>  
      <img elem-ready ng-src="{{artistsRight[3].image}}" />
    </div>
  </div>

</div>