<div class="1x2grid">

	<div class="rect-imgCard">
		<div class="img-wrapper">
			<div class="rect-imgCover">
				<p class="artist">{{artist}}</p>
				<p class="plays">{{plays}}</p>
			</div>
			<img ng-src="{{img}}" />
		</div>
	</div>

	<div class="sm-sq-imgCard">
		<div class="img-wrapper">
			<div class="sm-sq-imgCover">
				<p class="artist">{{artist}}</p>
				<p class="plays">{{plays}}</p>
			</div>
			<img ng-src="{{img}}" />
		</div>
	</div>

	<div class="sm-sq-imgCard">
		<div class="img-wrapper">
			<div class="sm-sq-imgCover">
				<p class="artist">{{artist}}</p>
				<p class="plays">{{plays}}</p>
			</div>
			<img ng-src="{{img}}" />
		</div>
	</div>

</div>