<div class="2x1grid">
	<div data-type="grid-item" class="sm-sq-imgCard">
		<div class="sm-sq-imgCover">
			<p class="artist">{{artist}}</p>
			<p class="plays">{{plays}}</p>
		</div>
		<img ng-src="{{img}}" />
	</div>
	<div data-type="grid-item" class="sm-sq-imgCard">
		<div class="sm-sq-imgCover">
			<p class="artist">{{artist}}</p>
			<p class="plays">{{plays}}</p>
		</div>
		<img ng-src="{{img}}" />
	</div>
	<div data-type="grid-item" class="rect-imgCard">
		<div class="rect-imgCover">
			<p class="artist">{{artist}}</p>
			<p class="plays">{{plays}}</p>
		</div>
		<img ng-src="{{img}}" />
	</div>
</div>